.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

oxipng.exe
pngquant.exe
seed_step_counters.json
pyproject.toml
wildcard_seed_counters.json
wildcard_seed_cache.json